<div style="text-align: center; margin: 20px; padding: 20px; background-color: #34495e; border-radius: 10px;">
    <h2 style="color: #ffffff; font-family: 'Verdana', sans-serif;">
        &#x2728; Cine Match &#x2728;
    </h2>
    <p style="color: #bdc3c7; font-size: 16px;">
        Check out what's popular right now!
    </p>
</div>

<div style="text-align: center; padding: 50px;">
    <h1 style="color: #c0cdda; font-family: 'Arial', sans-serif;">Welcome to the Movie Recommender App!</h1>
    <p style="font-size: 20px; color: #c7d3df; font-family: 'Roboto', sans-serif;">
        This app will help you find new movies based on your preferences and suggestions.
    </p>
</div>

<div style="text-align: center; padding: 20px;">
    <h2 style="color: #1abc9c; font-family: 'Arial', sans-serif;">Explore the World of Movies</h2>
    <p style="color: #34495e; font-size: 18px; font-family: 'Roboto', sans-serif;">
        Choose your favorite movie, and let us suggest some great options for you to enjoy!
    </p>
</div>

<div style="text-align: center; margin-top: 40px;">
    <h3 style="color: #1abc9c; font-family: 'Arial', sans-serif;">Enjoy Your Movie Journey!</h3>
    <p style="color: #34495e; font-size: 18px; font-family: 'Roboto', sans-serif;">
        Whether you're looking for an action-packed adventure or a heartwarming drama, we’ve got recommendations for every mood.
    </p>
</div>